/* brand styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  position: relative;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 22.4px;
  color: #555555;
  background: #fff;
  margin: 0;
}

a {
  color: #9d2053;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: .4;
}

/* popper.js styles */
.ca-tooltip {
  background: #7A1D4A;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  display: none;
}

.ca-tooltip[data-show] {
  display: block;
}

.ca-tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -8px;
}

.ca-tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -8px;
}

.ca-tooltip[data-popper-placement^='left'] > #arrow {
  right: -8px;
}

.ca-tooltip[data-popper-placement^='right'] > #arrow {
  left: -8px;
}

.ca-tooltip a {
  color: white;
  padding: 5px 10px;
}

.ca-tooltip a:hover {
  color: lavenderblush
}

.ca-arrow,
.ca-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
  border-radius: 2px;
}

.ca-arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #7A1D4A;
}


/* modal styles */
.ca-clipper .clipper-header {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 22.4px;
  color: #555555;
}

.ca-clipper .full-modal-content {
  overflow: hidden;
  height: 600px;
}

.ca-clipper-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

/* bootstrap overrides */
.btn {
  border-radius: 2px;
}
